*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  color: #455A64;
  background-color: #7E57C2;
  width: 100vw;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}